@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')
  }

  /* tailwind.css or your custom styles */

@keyframes shimmer {
    0% {
      background-position: -200%;
    }
    100% {
      background-position: 200%;
    }
  }
  
  /* Custom class for shimmer effect */
  .shimmer-box {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    width: 200px;  /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
  }
  